main {
    height: 100%;
    width: 100%;
}


header {
    background-color: #E8C84E;
    height: 50px;
    font-size: 130%;
    text-align: center;
}
section {
    display: flex;
}
.left {
    background-color: #FFB544;
    height: 500px;
    width: 40%;
    font-size: 130%;
}
ul {
    padding-top: 30px;
    background-color: #FFAA00;
}
.center {
    height: 500px;
    width: 30%;
    text-align: center;
}
.right {
    background-color: #FFB544;
    height: 500px;
    width: 30%;
    font-size: 130%;
    text-align: center;
}
footer {
    background-color: #E8C84E;
    height: 50px;
    text-align: right;
    padding: 10px;
}

img,h3 {
    margin: 50px;
}
form {
    margin-bottom: 100px;
}